/* Couleur base de la page
 ========================= */

body{
    background-color:whitesmoke;
}


/* Header
 ================================================================================ */
 
.nav{
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.nav i{
    display: flex;
    justify-self: left;
    font-size: 50px;
    color: whitesmoke;
    text-shadow: 3px 4px 5px black;

}

.nav i:hover{
    animation-duration: 8s;
    animation-name: coloredhat;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes coloredhat{
    10%{color: violet;
    }
    20%{color:rgb(191, 61, 243);
    }
    30%{color:rgb(146, 87, 201);
    }
    40%{color:rgb(63, 66, 245)
    }
    50%{color: rgb(91, 158, 235);
    }
    60%{color: rgb(41, 187, 206)
    }
    70%{color: rgb(79, 248, 192);
    }
    80%{color:rgb(71, 238, 80);
    }
    90%{color:rgb(144, 245, 49);
    }
    100%{color:rgb(255, 236, 62);
    }
}


.burger-menu{
    font-family: 'Poppins';
    font-size: 130%;
    
}


 .header{
    background-image: url(img/bg.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
  }
  /* Menu "burger"
   =============== */
 @media (max-width: 1000px){
    
 
 
  }
  /* Centrage de texte et icons
   ============================= */
  
   .header-hello{
     display: flex;
     flex-direction: column;
     justify-content: center;
      align-items: center;
      width: 100%;
      color: aliceblue;
   }
  
   .header-hello h2{
       font-size: 4em;
       font-family: 'Montserrat' , sans-serif;
       text-shadow: 3px 4px 5px black;
   }

   .header-hello p{
    font-size: 170%;
    font-family: 'Poppins', sans-serif;
    text-shadow: 3px 4px 5px black;
   }

   .social-network{
       font-size: 2em;
       color: azure;
   }
   .social-network:visited{
       font-size: 2em;
       color: azure; 
   }
  
  
  
  /* About Me
   ================================================================================ */
  
   .about-big{
     display: flex;
     flex-direction: column;
     background-color: white;
   }
   /* Changement d'affichage mobile first
    ========================== */

   @media (min-width: 1000px){
    .about-big{
      display: flex;
      flex-direction: row;
      background-color: white;
    }
   }

   @media (max-width: 1000px){
       .image-princess{
        width: 100%;
        height: 100%;
       }
   }


  
   /* Barres de progression
    ======================= */
  
    
  /* Web design bar 
   ================= */
    .WebDesignBar{
      background-color: rgba(223, 219, 219, 0.808);
      box-shadow: 0 0 0 2px rgb(85, 84, 84);
      position: relative;
      width: 25em;
      height: 1.1em;
    }
    
    .WBbar{
      background-color: aquamarine;
      position: absolute;
      height: 1em ;
      width: 70%;
    }
    
  
  /* Branding bar 
   =============== */
  .BrandingBar{
    background-color: rgba(223, 219, 219, 0.808);
    box-shadow: 0 0 0 2px rgb(85, 84, 84);
    position: relative;
    width: 25em;
    height: 1.1em;
  }
  
  .Bbar{
    background-color: rgb(248, 234, 104);
    position: absolute;
    height: 1em ;
    width: 55%;
  }
  
  /* Developement Bar
   =================== */
  .DevelopementBar{
    background-color: rgba(223, 219, 219, 0.808);
    box-shadow: 0 0 0 2px rgb(85, 84, 84);
    position: relative;
    width: 25em;
    height: 1.1em;
  }
  
  .Dbar{
    background-color: rgb(147, 104, 248);
    position: absolute;
    height: 1em ;
    width: 85%;
  }
  
  
  /* Service
   ================================================================================== */

   .service-big {
       display: flex;
       flex-direction: column;
       align-items: center;

   }

  .service-big h2{
       font-size: 4em;
       font-family: 'Montserrat' , sans-serif;
   }

    .service-big h6{
        display: flex;
        align-items: center;
        font-family: 'Poppins';
        font-size: 1.2em;
    }

/*  Personalisation de chaque div 
 ======================= */

/* Service Web Design
 ==================== */

 .service-WD{
    background-color:rgb(255, 255, 255);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }


 .service-WD i{
     font-size: 2em;
     background-color: whitesmoke;
     color: black;
     width: 2em;
     height: 2em;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 1s;
 }

 .service-WD i:hover{
    font-size: 2em;
    background-color:black;
    color:whitesmoke;
    box-shadow: 10px 5px 5px gray;

 }

 /* Service Branding
  ================== */

 .service-branding{
    background-color:rgb(255, 255, 255);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }


 .service-branding i{
     font-size: 2em;
     background-color: whitesmoke;
     color: black;
     width: 2em;
     height: 2em;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 1s;
 }

 .service-branding i:hover{
    font-size: 2em;
    background-color:black;
    color:whitesmoke;
    box-shadow: 10px 5px 5px gray;

 }

 /* Service Developement
  ====================== */

 .service-developement{
    background-color:rgb(255, 255, 255);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }


 .service-developement i{
     font-size: 2em;
     background-color: whitesmoke;
     color: black;
     width: 2em;
     height: 2em;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 1s;
 }

 .service-developement i:hover{
    font-size: 2em;
    background-color:black;
    color:whitesmoke;
    box-shadow: 10px 5px 5px gray;

 }

 /* Service Creative Design
  ========================= */

 .service-CD{
    background-color:rgb(255, 255, 255);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }


 .service-CD i{
     font-size: 2em;
     background-color: whitesmoke;
     color: black;
     width: 2em;
     height: 2em;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 1s;
 }

 .service-CD i:hover{
    font-size: 2em;
    background-color:black;
    color:whitesmoke;
    box-shadow: 10px 5px 5px gray;

 }

 /* Service Fully Responsive
  ========================== */

 .service-FR{
    background-color:rgb(255, 255, 255);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }


 .service-FR i{
     font-size: 2em;
     background-color: whitesmoke;
     color: black;
     width: 2em;
     height: 2em;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 1s;
 }

 .service-FR i:hover{
    font-size: 2em;
    background-color:black;
    color:whitesmoke;
    box-shadow: 10px 5px 5px gray;

 }

 /* Service Retina Ready
  ====================== */

 .service-RR{
    background-color:rgb(255, 255, 255);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }


 .service-RR i{
     font-size: 2em;
     background-color: whitesmoke;
     color: black;
     width: 2em;
     height: 2em;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 1s;
 }

 .service-RR i:hover{
    font-size: 2em;
    background-color:black;
    color:whitesmoke;
    box-shadow: 10px 5px 5px gray;

 }